@import './../../styles/mixins.scss';
.offer {
    @include flex(center, center, nowrap);
  background: #F9F3EC;
  flex-direction: column;
  padding: 150px 0;
  position: relative;

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__form {
    @include flex(center, center, nowrap);
    flex-direction: column;
    gap: 10px;
    width: 640px;
    position: relative;
    z-index: 0;

    input {
      background: #fff;
      border: 1px solid #41403e40;
      padding: 20px; 
      width: 100%;
      
      }
      
    input::placeholder {
         font-family: "Chilanka", cursive;
         font-size: 17px;
      }

    button {
        background: #41403E;
        padding: 20px; 
         color: #fff;
         text-transform: uppercase;
         font-family: "Chilanka", cursive;
         font-size: 19px;
         width: 100%;
      }
  }

}