@import './../../styles/mixins.scss';
.header{
    padding: 2% 20%;
    &__top{
        @include flex(space-between, center, nowrap);
        gap: 10%;
        flex-direction: row;

        &-search{
            padding: 5px 10px;
            color: #908F8D;
            border: 1px solid #908F8D;
            outline: none;
        }
        &-contacts{
            @include flex(end, center, nowrap);
            flex-direction: column;
        }
    }
    &__bottom{
        @include flex(end, center, nowrap);
        flex-direction: row;
        gap: 20%;
        padding-top: 3rem;

        &-nav{
            @include flex(center, center, nowrap);
            gap: 1rem;

            &__link{
                text-decoration: none;
                color: #41403E;
            }

        }
        &-icons{
            @include flex(center, center, nowrap);
            gap: 10px;
        }
    }
}
