@import './../../styles/mixins.scss';
.cart-count {
    display: flex;
    align-items: center;
    gap: 12px;
    
    .increase,
    .decrease {
        width: 32px;
        height: 32px;
        
        border-radius: 20px;        
        color: #41403E;
        font-size: 18px;
        font-weight: 600;
    }
  
     .increase  {
        background: #DEAD6F;
     }
      .decrease  {
        background: rgba(228, 228, 228, 0.867);
     }
    h1 {
        font-size: 18px;
        font-weight: 600;
        color: #41403E;
        margin: 0;
        min-width: 24px;
        text-align: center;
        border: 1px solid #b6b5b4;
        border-radius: 4px;
       padding-left: 30px;
       padding-right: 30px;
       padding-top: 5px;
    }
}